# Base de datos
POSTGRES_DB=marketplace
POSTGRES_USER=marketplace
POSTGRES_PASSWORD=change_me

# Backend
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
SECRET_KEY=change_me
RESEND_API_KEY=change_me
RESEND_FROM_EMAIL=noreply@yourdomain.com

# Puertos expuestos
BACKEND_PORT=8000
FRONTEND_PORT=3000

# Frontend
NEXT_PUBLIC_API_URL=http://yourdomain.com:8000
